body{
	background-color: #f3f3f3;
	height: 1000px;
}
#divheader{
    width: 1327px;
    margin-left: -9px;
    background-color: black;
    height: 70px;
    margin-top: -9px;
}
#img{
	width: 100px;
	height: 110px;
	padding-left: 45px;
	margin-top: -20px;
}
#h1{
	font-family: 'Netflix Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
	color: #333;
	cursor: default;
	font-weight: 400;
	margin-left: 120px;
	margin-top: 40px;
}
#div1{
	border-top: 1px solid #999;
    border-right: none;
    border-bottom: none;
    border-left: none;
    padding: 0;
    margin-left: 120px;
    width: 1000px;
    background-color: inherit;
}
#p1{
	font-size: 1.125em;
	color: #757575;
	font-weight: 400;
	font-family: 'Netflix Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
}
#p2{
	font-weight: 700;
	font-family: 'Netflix Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
	color: #333;
	margin-left: 270px;
	margin-top: -37px;
	cursor: default;
}
#p3{
	color: #0073e6;
	cursor: pointer;
	margin-left: 900px;
	margin-top: -33px;
	font-family: 'Netflix Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
}
#p3:hover{
	text-decoration: underline;
}
#p4{
	color: #757575;
	font-family: 'Netflix Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
	cursor: default;
	margin-left: 270px;
}
#p5{
	color: #0073e6;
	cursor: pointer;
	margin-left: 870px;
	margin-top: -37px;
	font-family: 'Netflix Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
}
#p5:hover{
	text-decoration: underline;
}
#p6{
	color: #0073e6;
	cursor: pointer;
	margin-left: 863px;
	margin-top: -5px;
	font-family: 'Netflix Sans','Helvetica Neue',Helvetica,Arial,sans-serif;	
}
#p6:hover{
	text-decoration: underline;
}
#hr{
	width: 725px;
	margin-left: 271px;
	border: 0px white;
	height: 1px;
	background-color: #E3E3E3;
}
#p7{
	font-weight: 700;
	color: #333;
	font-family: 'Netflix Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
	margin-left: 270px;
	cursor: default;
}
#p8{
	color: #333;
	font-family: 'Netflix Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
	cursor: default;
	margin-left: 270px;
}
#p9{
	color: #0073e6;
	cursor: pointer;
	margin-left: 906px;
	margin-top: -80px;
	font-family: 'Netflix Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
}
#p9:hover{
	text-decoration: underline;
}
#p10{
	color: #0073e6;
	cursor: pointer;
	margin-left: 868px;
	margin-top: -10px;
	font-family: 'Netflix Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
}
#p10:hover{
	text-decoration: underline;
}
#div2{
	border-top: 1px solid #999;
    border-right: none;
    border-bottom: none;
    border-left: none;
    margin-top: 45px;
    margin-left: 120px;
    width: 1000px;
    background-color: inherit;
}
#p11{
	cursor: default;
	font-size: 1.125em;
	color: #757575;
	font-weight: 400;
	font-family: 'Netflix Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
}
#p12{
	font-weight: 700;
	margin-top: -38px;
	margin-left: 270px;
	color: #333;
	font-family: 'Netflix Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
}
#img1{
	width: 110px;
	height: 20px;
	position: relative;
	margin-left: 340px;
	top: -35px;
}
#p13{
	color: #0073e6;
	margin-left: 909px;
	margin-top: -60px;
	font-family: 'Netflix Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
}
#div3{
	border-top: 1px solid #999;
    border-right: none;
    border-bottom: none;
    border-left: none;
    margin-top: 45px;
    margin-left: 120px;
    width: 1000px;
    background-color: inherit;
}
#p14{
	font-size: 1.125em;
	color: #757575;
	font-weight: 400;
	font-family: 'Netflix Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
}
.p15,.p16,.p17,.p18,.p19,.p20{
	color: #0073e6;
	cursor: pointer;
	font-family: 'Netflix Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
	margin-left: 270px;
	margin-top: -5px;
	position: relative;
	top: -25px;
}
#div4{
	border-top: 1px solid #999;
    border-right: none;
    border-bottom: none;
    border-left: none;
    margin-top: -10px;
    margin-left: 120px;
    width: 1000px;
    background-color: inherit;
}
#p21{
	font-size: 1.125em;
	color: #757575;
	font-weight: 400;
	font-family: 'Netflix Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
}
.profile1{
	background-image: url(https://occ-0-778-784.1.nflxso.net/dnm/api/v6/K6hjPJd6cR6FpVELC5Pd6ovHRSk/AAAABTYctxxbe-UkKEdlMxXm4FVGD6DqTHkQ0TQ5CQJ9jbOMnG0CYxYcSICcTUQz8DrB7CpKUGpqJVMtEqksLlvSJx2ac3Ak.png?r=a41);
	width: 60px;
	height: 60px;
	background-size: cover;
	border-radius: 4px;
	margin-left: 270px;
	margin-top: -60px;
}
#p22{
	font-weight: 700;
	font-size: 16px;
	color: #333;
	position: relative;
	left: 85px;
	top: 15px;
	font-family: 'Netflix Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
}
#p23{
	font-family: 'Netflix Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
	font-size: 12.8px;
	color: #333;
	margin-top: -170px;
	margin-left: 475px;
}
#hr1{
	border: 0px white;
	height: 1px;
	background-color: #cccccc;
	width: 735px;
	margin-top: 60px;
	margin-left: 0px;	
}
.profile2{
	background-image: url(https://occ-0-778-784.1.nflxso.net/dnm/api/v6/K6hjPJd6cR6FpVELC5Pd6ovHRSk/AAAABWu33TcylnaLZwSdtgKR6mr0O63afqQLxZbzHYQZLkCJ9bgMTtsf6tzs_ua2BuTpAVPbhxnroiEA-_bqJmKWiXblO9h-.png?r=f71);
	width: 60px;
	height: 60px;
	background-size: cover;
	border-radius: 4px;
	position: relative;
	margin-left: 270px;
	top: 25px;
}
#p24{
	font-weight: 700;
	font-size: 16px;
	color: #333;
	font-family: 'Netflix Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
	left: 85px;
	top: 15px;
	position: relative;
}
#p25{
	font-family: 'Netflix Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
	font-size: 12.8px;
	color: #333;
	margin-top: 85px;
	margin-left: 475px;	
}
#hr2{
	border: 0px white;
	height: 1px;
	background-color: #cccccc;
	width: 735px;
	margin-top: 60px;
	margin-left: 0px;		
}
.profile3{
	background-image: url(https://occ-0-778-784.1.nflxso.net/dnm/api/v6/K6hjPJd6cR6FpVELC5Pd6ovHRSk/AAAABdm_-DEYu1y2T38LnXWSy-u7u24MbY361Zg2WziU3fOqSJy3w2j3-7E9f6FQVC_Rv3zj3xGZ1SQM7F6G8WjR4XFnHwDL.png?r=fcd);
	width: 60px;
	height: 60px;
	background-size: cover;
	border-radius: 4px;
	position: relative;
	margin-left: 270px;
	top: 50px;	
}
#p26{
	font-weight: 700;
	font-size: 16px;
	color: #333;
	font-family: 'Netflix Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
	left: 85px;
	top: 15px;
	position: relative;	
}
#p27{
	font-family: 'Netflix Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
	font-size: 12.8px;
	color: #333;
	margin-top: 85px;
	margin-left: 475px;		
}